// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a {
  font-size: 19px;
  margin: 8px;

}

a.delete {
  margin: 8px;
}

label {
  font-size: 20px;
}
 input {
    font-size: 20px;

 }
